include README.rst
include LICENSE.rst
include RELNOTES.rst
include MANIFEST.in
include generinator_rats/VERSION
recursive-include generinator_rats/resources *
global-exclude __pycache__
global-exclude *.py[co]
